SHELL=/bin/bash
PATH=/bin:/usr/bin:/lsf/7.0/linux2.6-glibc2.3-x86_64/bin

#run part
# *     *   *   *    *  command to be executed
# -     -    -    -    -
# |     |     |     |     |
# |     |     |     |     +----- day of week (0 - 6) (Sunday=0)
# |     |     |     +------- month (1 - 12)
# |     |     +--------- day of month (1 - 31)
# |     +----------- hour (0 - 23)
# +------------- min (0 - 59)
#
00 10 * * 0-6 /scratch/ywang/hurr2/scripts/cronjob
30 23 * * 0-6 /scratch/ywang/hurr2/scripts/cronjob
